@model VmcLesson09.Modelsss.Category

@{
    ViewData["Title"] = "Sửa Thông tin ";
    Layout = "~/Views/Shared/_VmcLayout.cshtml";
}




<div class="row">
    <div class="col-md-4">
        <form asp-action="VmcEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card">
                <div class="card-header">
                    <h1>@ViewData["Title"] </h1>
                </div>
                <div class="card-group my-1">
                    <label asp-for="CategoryId" class="control-lable mb-1"></label>
                    <input asp-for="CategoryId" class="from-control" readonly />
                </div>
                <div class="card-body">
                    <div class="form-group my-1">
                        <label asp-for="CategoryName" class="control-label mb-1"></label>
                        <input asp-for="CategoryName" class="form-control" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Lưu" name="btnVmcEdit" class="btn btn-primary" />
                    <a asp-action="VmcIndex" class="btn btn-danger">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}