
@{
    ViewData["Title"] = "Thông tin sinh viên ";
}
<div class="alert alert-dark">
    <h1>Thông tin sinh viên </h1>
    <hr />
    <p>Mã Sinh Viên : 2310900013</p>
    <p>Họ Tên : Mai Chi </p>
    <p>Ngày Sinh : 01/01/2001</p>
    <p> Lớp: K23CNT1</p>
    <p>Email: MaiChi2005</p>
    <p>Điện thoại : 1234567890 </p>
</div>
