﻿@{
ViewData["Title"] = "Thông tin sinh viên";
}

<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>Mã sinh viên: 2310900013</p>
    <p>Họ và tên: Vũ Mai Chi </p>
    <p>Email: MaiChi@gmail.com</p>
    <p>Điện thoại: 0336352122</p>
    <p>Lớp: K23CNT1</p>
</div>
