﻿@{
ViewData["Title"] = "Thông Tin Sinh Viên";
}


<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <ul class="list-group alert alert-success">
        <li class="list-group-item">Họ và Tên: Vũ Mai Chi
        <li class="list-group-item">Lớp: K23CNT1</li>
        <li class="list-group-item">Mã Sinh Viên: 2310900013/li>
        <li class="list-group-item">Email: maichi205@gmai.com</li>
        <li class="list-group-item">Số Điện Thoại: 0383222146</li>
    </ul>
</div>